<style>

@charset "utf-8";

/* main {
  font-size: 60px;
  text-align: center;
} */

/* .loader {
  width: 10px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
} */

/* カメラ画像を反転する */
#reader__scan_region {
  transform: scaleX(-100%);
}


.container {
  display: grid;
  /* grid-template-columns: 48vw 48vw;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 100px 100px 100px;
  width: 80vw;
  height: 90vh; */
}
.square {
  border: 2px solid rgb(0, 0, 0);
}
.clock {
  font-size: clamp(0.5rem, 20px, 2rem);
}
.top_bar{
  font-size: clamp(1rem, 30px, 1.5rem);
  background-image: linear-gradient(90deg, rgba(93, 65, 253, 1), rgba(96, 179, 247, 1));
  display: flex;
  border: 1px solid #999;
  padding: 5px;
  background: #daf0f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_bar>div{
  padding: 5px;
}
.top_bar>div:nth-of-type(2){
  margin-left: auto;
}
.box0 {
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
  height: 3vh;
}

.box1 {
  background-image: linear-gradient(90deg, rgba(253, 219, 146, 1), rgba(255, 179, 128, 1));
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 4;
  height: 10vh;
  text-align: center;
}

.box2 {
  background-color: rgb(194, 253, 197);
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  overflow-wrap: break-all;
  width: 20vw;
  height: 75vh;
}

.box3 {
  background-color: rgb(85, 85, 85);
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
  width: 45vw;
  height: 75vh;
}

.box4 {
  font-size: clamp(1rem, 30px, 5rem);
  background-color: rgb(236, 250, 255);
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
  overflow-wrap: break-all;
  width: 33vw;
  height: 75vh;
}

.clock .time {
  font-size: clamp(1rem, 30px, 5rem);
}
.read_ok {
  font-size: clamp(1rem, 30px, 2rem);
  color: rgb(255, 0, 0 );
}

/* モーダルウィンドウ設定 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  animation-name: show;
  animation-duration: 0.5s;
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px 30px 30px 30px;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.modal-header {
  padding: 3px 10px 3px 10px;
  background-color: rgb(0, 19, 128);
  color: rgb(255, 0, 0);
  border-radius: 30px 30px 0px 0px;
}

.modal-body {
  padding: 12px;
}

.leave_work {
    font-size: 40px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 0);
}
.at_work{
    font-size: 40px;
    margin: 0px 0px 0px 40px;
    background-color: rgb(0, 255, 255);
    border-radius: 20px 20px 20px 20px;
}
.modal-footer {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 12px;
  border-radius: 0px 0px 30px 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 16px;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* debugウィンドウ設定 */
.debug {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  animation-name: show;
  animation-duration: 0.5s;
}

.debug-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.debug-header {
  padding: 1px 1px 1px 1px;
  background-color: rgb(0, 19, 128);
  color: rgb(255, 0, 0);
  border-radius: 3px 3px 0px 0px;
}

.debug-body {
  padding: 10px;
}
.debug_text {
  border:1px solid #ccc;
  height:200px;
  overflow:auto;
  width:90%;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#f7f7f7;
  margin:auto;
  padding:10px;
}
</style>